.playListA {
    inline-size: 13em;
    padding: 1rem;
    border-radius: .25rem;
    background: var(--gray40);
    box-sizing: border-box;
    transition: .1s background-color;
}

.playListA:hover, .playListA:focus-within {
    background: var(--gray30);
    cursor: pointer;
}

.playListA:hover .playListA-cover button,
.playListA:focus-within .playListA-cover button {
    opacity: 1;
    transform: translateY(0);
}

.playListA-cover img {
    vertical-align: middle;
}

.playListA-cover {
    position: relative;
    border-radius: .75rem;
    overflow: hidden;
    margin-block-end: 1rem;
}

.playListA button {
    bottom: .5rem;
    position: absolute;
    opacity: 0;
    right: .5rem;
    will-change: opacity, transform;
    transform: translateY(.5rem);
    transition: .3s opacity, .3s transform;
}

.playList-title {
    font: var(--baseFontBold);
    color: var(--white);
    margin: 0;
}

.playList-description {
    font: var(--baseFont);
    margin: 0;
}